*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: 'Poppins', sans-serif;
}

body{
  background: rgb(237, 232, 232);
}

.container{
  margin: auto;
  display: flex;
  width: 1275px;
}

nav{
  width: 450px;
  height: 125vh;
  background: #ffffff;
}

.nav-menu{
  width: 80%;
  margin: 0 auto;
}

nav i{
  width: 50px;
  font-size: 18px;
  text-align: center;
}

.nav-title{
  margin: 1.5rem;
  padding-bottom: 1.2rem;
  display: flex;
  align-items: center;
  color: #000000;
}

.nav-title h1{
  font-size: 26px;
  margin-left: -0.5rem;
}

h1{
  margin: 20px 10px;
}

li{
  padding-bottom: 3rem;
}

li a{
  font-size: 16px;
  color: #000000;
}

.main{
  width: 100%;
}

.main-top{
  background: #ffffff;
  padding: 12px;
  text-align: center;
}

.main-body{
  padding: 10px 10px 30px 20px;
}

.card{
  width: 97%;
  padding: 14px;
  cursor: pointer;
  background: #fff;
  margin-bottom: 15px;
  border-radius: 15px;
  border: 3px solid rgb(148, 140, 140);
}

.card_container .text{
  margin-left: 2rem;
}
