*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #ffffff;
    font-family: arial, sans-serif;
}

.container{
    margin: auto;
    display: flex;
    width: 1275px;
}

nav{
    width: 450px;
    height: 125vh;
    background: #ffffff;
}

nav i{
    width: 45px;
    font-size: 18px;
    text-align: center;
}

.nav-title{
    margin: 1.5rem;
    padding-bottom: 1.2rem;
    display: flex;
    align-items: center;
    color: #000000;
}

.nav-title h1{
    font-size: 26px;
    margin-left: -0.5rem;
}

h1{
    margin: 20px 10px;
}

li{
    padding-bottom: 3rem;
}

li a{
    font-size: 16px;
    color: #333;
}
li a:hover{
    color: black;
}


.main{
    width: 100%;
}

.main-top{
    background: #ffffff;
    padding: 12px;
    text-align: center;
    font-size: 24px;
}

.main-body{
    padding: 10px 10px 30px 20px;
}

.card{
    width: 97%;
    padding: 14px;
    cursor: pointer;
    background: #fff;
    margin-bottom: 15px;
    border-radius: 15px;
    border: 3px solid rgb(148, 140, 140);
}

.card_container .text{
    margin-left: 2rem;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.movebody {
    margin-left: 120px;
    padding: 0px 10px;
    margin-top: 50px;
}
.purplebutton{
    margin: 10px;
    background-color: #662484;
    border: none;
    color: white;
    text-align: center;
    cursor: pointer;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 4px;
}
.purplebutton:hover{
    color: #f3e419;
}
.wrapborder{
    border: 1px solid rgba(0, 0, 0, 0.16);
    background-color: transparent;
    border-radius: 4px;
    padding: 32px;
    width: 300px;
    text-align: center
}
/* for popup in my_cases */
.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
    z-index:100;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.wrapper {
    z-index:101;
	margin: 70px auto;
	padding: 20px;
	background: #e7e7e7;
	border-radius: 5px;
	width: 30%;
    height: 100%;
    position: relative;
    transition: all 5s ease-in-out;
}
.wrapper h2 {
    margin-top: 0;
}
.wrapper .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #662484;
}
.wrapper .close:hover {
    color: yellow;
}
.wrapper .content {
    height: 70%;
    overflow-y: scroll;
}

.popupContent {
    z-index:101;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #e7e7e7;
    padding: 20px 0;
}

/* for mycases edit button */
.wrapper2 {
    z-index:101;
	margin: 70px auto;
	padding: 20px;
	background: #e7e7e7;
	border-radius: 5px;
	width: 100%;
    height: 100%;
    position: relative;
    transition: all 5s ease-in-out;
}
.wrapper2 h2 {
    margin-top: 0;
}
.wrapper2 .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #662484;
}
.wrapper2 .close:hover {
    color: yellow;
}
.wrapper2 .content {
    height: 70%;
    overflow-y: scroll;
}