*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #ffffff;
}

.container{
    margin: auto;
    display: flex;
    width: 1300px;
}

nav{
    width: 425px;
    height: 120vh;
    background: #ffffff;
}

.nav-menu{
    width: 80%;
    margin: 0 auto;
}

nav i{
    width: 50px;
    font-size: 18px;
    text-align: center;
}

.nav-title{
    margin: 1.5rem;
    padding-bottom: 1.25rem;
    display: flex;
    align-items: center;
    color: #000000;
}

.nav-title h1{
    font-size: 26px;
    margin-left: -0.5rem;
}

h1{
    margin: 20px 10px;
}

li{
    padding-bottom: 3rem;
}

li a{
    font-size: 16px;
    color: #333;
}
li a:hover{
    color: black;
}


.main{
    width: 100%;
}

.main-top{
    background: #ffffff;
    padding: 12px;
    text-align: center;
    font-size: 24px;
}

.main-body{
    padding: 10px 10px 30px 20px;
}

.card{
    width: 97%;
    padding: 12px;
    cursor: pointer;
    background: #fff;
    margin-bottom: 15px;
    border-radius: 15px;
    border: 3px solid rgb(148, 140, 140);
}

.card_container .text{
    margin-left: 2rem;
}

/* for popup in my_cases */
.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(102, 36, 132, 0.8);
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
}
.overlay:target {
	visibility: visible;
	opacity: 1;
}

.wrapper {
	margin: 70px auto;
	padding: 20px;
	background: #e7e7e7;
	border-radius: 5px;
	width: 30%;
    height: 100%;
	position: relative;
	transition: all 5s ease-in-out;
}
.wrapper h2 {
	margin-top: 0;
}
.wrapper .close {
	position: absolute;
	top: 20px;
	right: 30px;
	transition: all 200ms;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #662484;
}
.wrapper .close:hover {
	color: yellow;
}
.wrapper .content {
    height: 70%;
	overflow-y: scroll;
}

.popupContent {
    margin-bottom: 20px;
	border-radius: 5px;
	background-color: #e7e7e7;
	padding: 20px 0;
}