{% extends 'base.html' %}

{% block header %}
    <h2>{% block title %}Add User Information{% endblock %}</h2>
{% endblock %}

{% block content %}
    <div class="wrapborder">
        <table>
            <div style="display: block; margin-bottom: 20px">
                <tr><td><label>Name: </label></td>
                <td><input type="text"/></td>
                </tr>
            </div>
            <div style="display: block; margin-bottom: 20px">
                <tr><td><label>Email: </label></td>
                <td><input type="text"/></td>
                </tr>
            </div>
            <div style="display: block; margin-bottom: 20px">
                <tr><td><label for="role">Role: </label></td>
                <td><select name="role" id="role"> 
                    <option value="Admin">Admin</option> 
                    <option value="Eligibility Manager">Eligibility Manager</option> 
                    <option value="Eligibility Supervisor">Eligibility Supervisor</option> 
                    <option value="Eligibility Specialist">Eligibility Specialist</option>
                    <option value="Senior Leader">Senior Leader</option> 
                </select></td>
                </tr>
            </div>
        </table>
        <div style="display: inline-block">
            <button class="purplebutton" onclick="window.location.href='./manage-users'">Save</button>
        </div>
        <div style="display: inline-block">
            <button class="purplebutton" onclick="window.location.href='./manage-users'">Cancel</button>
        </div>
    </div>
{% endblock %}