<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %} {% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/homepage.css') }}"  />
  <!-- <link rel="stylesheet" href="homepage.css"  /> -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@400;700&display=swap" rel="stylesheet"> 
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/fontawesome-free-6.4.2-web/css/all.min.css') }}" />
</head>
<body>
    <div class="container">
        <!-- Navigation Menu -->
        <nav>
        <div class="nav-menu">
            <div class="nav-title">
            <a href="./home-page"><img src="{{ url_for('static', filename='images/ccgrouplogo.png') }}" width="250"></a>
            </div>
            <ul>
            <li><a href="./home-page">
                <i class="fa-solid fa-chart-simple"></i>
                <span class="page">Home Page</span>
            </a>
            </li>
            <li><a href="./users-page">
                <i class="fa-solid fa-user"></i>
                <span class="page">Users</span>
            </a>
            </li>
            <li><a href="./manage-users-page">
                <i class="fa-solid fa-user-gear"></i>
                <span class="page">Manage Users</span>
            </a>
            </li>
            <li><a href="./upload-new-requests-page">
                <i class="fa-solid fa-upload"></i>
                <span class="page">Upload New Cases</span>
            </a>
            </li>
            <li><a href="./new-requests-page">
                <i class="fa-solid fa-clipboard-list"></i>
                <span class="page">Assign Cases</span>
            </a>
            </li>
            <li><a href="./my_cases">
                <i class="fa-solid fa-chart-simple"></i>
                <span class="page">My Cases</span>
            </a>
            </li>
            <li><a href="./">
                <i class="fas fa-sign-out-alt"></i>
                <span class="page">Logout</span>
            </a>
            </li>
            </ul>
        </div>
        </nav>
        
        <section class="main">
            <!-- App Name -->
            <div class="main-top">
                <h1>ChildCare Enrollment Management System</h1>
            </div>
            
            <!-- Content -->
            <div class="movebody">
                <h2>{% block header %} {% endblock %}</h2>
                {% block content %}{% endblock %}
            </div>
        </section>
    </div>

    
</body>
</html>