<!DOCTYPE html>
<html lang="en">
<head>
  <title>Dashboard</title>
  <link rel="stylesheet" type="text/css" href="../static/css/dashboard.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@400;700&display=swap" rel="stylesheet"> 
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/fontawesome-free-6.4.2-web/css/all.min.css') }}" />
</head>
<body>
  <div class="container">
    <nav>
      <div class="nav-menu">
        <div class="nav-title">
          <h1>Navigation</h1>
        </div>
        <ul>
          <li><a href="./users">
            <i class="fa-solid fa-user"></i>
            <span class="page">Users</span>
          </a>
          <li><a href="./analytics">
            <i class="fa-solid fa-chart-simple"></i>
            <span class="page">Analytics</span>
          </a>
          </li>
          <li><a href="./manage-users">
            <i class="fa-solid fa-user-gear"></i>
            <span class="page">Manage Users</span>
          </a>
          </li>
          <li><a href="./upload-new-requests">
            <i class="fa-solid fa-upload"></i>
            <span class="page">Upload New Requests</span>
          </a>
          </li>
          <li><a href="./new-requests">
            <i class="fa-solid fa-clipboard-list"></i>
            <span class="page">Assign New Requests</span>
          </a>
          </li>        
          </li>
          <li><a href="./Login">
            <i class="fas fa-sign-out-alt"></i>
            <span class="page">Logout</span>
          </a>
          </li>
        </ul>
      </div>
    </nav>
    <section class="main">
      <div class="main-top">
        <a href="./index"><img src="{{ url_for('static', filename='images/ccgrouplogo.png') }}" width="250"></a>
    </div>
    </section>
  </div>
</body>
</html>