{% extends 'base.html' %}

{% block header %}
    <h2>{% block title %}Home Page{% endblock %}</h2>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    

{% endblock %}

{% block content %}
  <div class="container">
    <section class="main">
      <div class="main-top">
        <!-- <h1>ChildCare Enrollment Management System</h1> -->
      </div>
      <div class="main-body">
        <h1>ChildCareGroup Analytics</h1>

        <div class="card">
          <div class="card_container" id="sent">
            <div class="text">
              <h2>Packets Sent</h2>
              <label for="dropdown">Year:</label>
                <select id="year_dropdown_packets_sent">
                </select>
              <div style="display: none; text-align: left;" id="sentInfo"><img src="../static/images/graph.png" width="250"></div>
              <canvas id="myChart" style="width:100%;max-width:600px"></canvas>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card_container">
            <div class="text" id="status">
              <h2>Packets Status</h2>
              <label for="dropdown">Year:</label>
                <select id="year_dropdown_packets_status">
                </select>
              <div style="display: none; text-align: left;" id="statusInfo"><img src="../static/images/graph.png" width="250"></div>
                <canvas id="myChart2" style="width:100%;max-width:600px"></canvas>

                <script>
               
                </script>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card_container">
            <div class="text" id="enrolled">
              <h2>Children Enrolled</h2>
              <label for="dropdown">Year:</label>
                <select id="year_dropdown_child_enrolled">
                </select>
              <div style="display: none; text-align: left;" id="enrolledInfo"><img src="../static/images/graph.png" width="250"></div>
              <canvas id="myChart3" style="width:100%;max-width:600px"></canvas>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card_container" id="notEnrolled">
            <div class="text">
              <h2>Children Not Enrolled</h2>
              <label for="dropdown">Year:</label>
                <select id="year_dropdown_not_enrolled">
                </select>
              <div style="display: none; text-align: left;" id="notEnrolledInfo"><img src="../static/images/graph.png" width="250"></div>
              <canvas id="myChart4" style="width:100%;max-width:600px"></canvas>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card_container" id="reasons">
            <div class="text">
              <h2>Not Enrolled Reasons</h2>
              <label for="dropdown">Year:</label>
                <select id="year_dropdown_reasons">
                </select>
              <div style="display: none; text-align: left;" id="reasonsInfo"><img src="../static/images/graph.png" width="250"></div>
                <canvas id="myChart5" style="width:100%;max-width:6000px"></canvas>

            </div>
          </div>
        </div>

        <div class="card">
          <div class="card_container" id="start">
            <div class="text">
              <h2>Processing Time</h2>
              <label for="dropdown">Year:</label>
                <select id="year_dropdown_processing_time">
                </select>
              <div style="display: none; text-align: left;" id="startInfo"><img src="../static/images/graph.png" width="250"></div>
              <canvas id="myChart6" style="width:100%;max-width:600px"></canvas>
            </div>
          </div>
        </div>
      </div>
{% endblock %}

{% block script %}
  <script src="{{ url_for('static', filename='js/analytics.js') }}"></script>
{% endblock %}
