<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home Page</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/homepage.css') }}" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@400;700&display=swap" rel="stylesheet"> 
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/fontawesome-free-6.4.2-web/css/all.min.css') }}" />
</head>
<body>
  <div class="container">
    <nav>
      <div class="nav-menu">
        <div class="nav-title">
          <a href="./home-page"><img src="{{ url_for('static', filename='images/ccgrouplogo.png') }}" width="250"></a>
        </div>
        <ul>
          <li><a href="./home-page">
            <i class="fa-solid fa-chart-simple"></i>
            <span class="page">Home Page</span>
          </a>
          </li>
          <li><a href="./users">
            <i class="fa-solid fa-user"></i>
            <span class="page">Users</span>
          </a>
          <li><a href="./manage-users">
            <i class="fa-solid fa-user-gear"></i>
            <span class="page">Manage Users</span>
          </a>
          </li>
          <li><a href="./upload-new-requests">
            <i class="fa-solid fa-upload"></i>
            <span class="page">Upload New Requests</span>
          </a>
          </li>
          <li><a href="./new-requests">
            <i class="fa-solid fa-clipboard-list"></i>
            <span class="page">Assign New Requests</span>
          </a>
          </li>        
          </li>
          <li><a href="./">
            <i class="fas fa-sign-out-alt"></i>
            <span class="page">Logout</span>
          </a>
          </li>
        </ul>
      </div>
    </nav>

    <section class="main">
      <div class="main-top">
        <h1>ChildCare Enrollment Management System</h1>
      </div>
      <div class="main-body">
        <h1>ChildCareGroup Analytics</h1>

      <div class="card">
        <div class="card_container" id="sent">
          <div class="text">
            <h2>Packets Sent</h2>
            <div style="display: none; text-align: left;" id="sentInfo"><img src="../static/images/graph.png" width="250"></div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card_container">
          <div class="text" id="status">
            <h2>Packets Status</h2>
            <div style="display: none; text-align: left;" id="statusInfo"><img src="../static/images/graph.png" width="250"></div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card_container">
          <div class="text" id="enrolled">
            <h2>Families and Children Enrolled</h2>
            <div style="display: none; text-align: left;" id="enrolledInfo"><img src="../static/images/graph.png" width="250"></div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card_container" id="notEnrolled">
          <div class="text">
            <h2>Families and Children Not Enrolled</h2>
            <div style="display: none; text-align: left;" id="notEnrolledInfo"><img src="../static/images/graph.png" width="250"></div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card_container" id="reasons">
          <div class="text">
            <h2>Not Enrolled Reasons</h2>
            <div style="display: none; text-align: left;" id="reasonsInfo"><img src="../static/images/graph.png" width="250"></div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card_container" id="start">
          <div class="text">
            <h2>Processing Time</h2>
            <div style="display: none; text-align: left;" id="startInfo"><img src="../static/images/graph.png" width="250"></div>
          </div>
        </div>
      </div>

      <script>
        const sent = document.getElementById('sent');
        const sentInfo = document.getElementById('sentInfo');
        const status = document.getElementById('status');
        const statusInfo = document.getElementById('statusInfo');
        const enrolled = document.getElementById('enrolled');
        const enrolledInfo = document.getElementById('enrolledInfo');
        const notEnrolled = document.getElementById('notEnrolled');
        const notEnrolledInfo = document.getElementById('notEnrolledInfo');
        const reasons = document.getElementById('reasons');
        const reasonsInfo = document.getElementById('reasonsInfo');
        const start = document.getElementById('start');
        const startInfo = document.getElementById('startInfo');

        sent.addEventListener('click', () => {
          if (sentInfo.style.display === 'none') {
            sentInfo.style.display = 'block';
          } else {
            sentInfo.style.display = 'none';
          }
        });

        status.addEventListener('click', () => {
          if (statusInfo.style.display === 'none') {
            statusInfo.style.display = 'block';
          } else {
            statusInfo.style.display = 'none';
          }
        });

        enrolled.addEventListener('click', () => {
          if (enrolledInfo.style.display === 'none') {
            enrolledInfo.style.display = 'block';
          } else {
            enrolledInfo.style.display = 'none';
          }
        });

        notEnrolled.addEventListener('click', () => {
          if (notEnrolledInfo.style.display === 'none') {
            notEnrolledInfo.style.display = 'block';
          } else {
            notEnrolledInfo.style.display = 'none';
          }
        });

        reasons.addEventListener('click', () => {
          if (reasonsInfo.style.display === 'none') {
            reasonsInfo.style.display = 'block';
          } else {
            reasonsInfo.style.display = 'none';
          }
        });

        start.addEventListener('click', () => {
          if (startInfo.style.display === 'none') {
            startInfo.style.display = 'block';
          } else {
            startInfo.style.display = 'none';
          }
        });

      </script>
    </div>
    </section>
  </div>
</body>
</html>