<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Childcare Enrollment Managment System</title>
</head>
<body>
  <h1 align="center">Childcare Enrollment Management System</h1>
  <button style="display: block; margin: 0 auto;" id="aboutUs">About Us</button>
  <br />
  <div style="display: none; text-align: center;" id="aboutUsInfo">CSCE 606 Software Engineering Project. <br/>Tanmai Harish, Atharva Phand, Bharath, Chidambaram, Noah, Daehee</div>
  <button style="display: block; margin: 0 auto;" id="Users" onclick="window.location.href='./users'">Users</button>
  <button style="display: block; margin: 0 auto;" id="manage-users" onclick="window.location.href='./manage-users'">Manage Users</button>
  <button style="display: block; margin: 0 auto;" id="new-requests" onclick="window.location.href = './upload-new-requests'">Upload New Requests</button>
  <button style="display: block; margin: 0 auto;" id="new-requests" onclick="window.location.href = './new-requests'">Assign New Requests</button>
  
  <script>
    const aboutUsButton = document.getElementById('aboutUs');
    const aboutUsInfo = document.getElementById('aboutUsInfo');

    aboutUsButton.addEventListener('click', () => {
      if (aboutUsInfo.style.display === 'none') {
        aboutUsInfo.style.display = 'block';
      } else {
        aboutUsInfo.style.display = 'none';
      }
    });
  </script>
</body>
</html>