{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}Manage Users{% endblock %}</h2>
{% endblock %}

{% block content %}
  <table>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Role</th>
    </tr>
    {% for user in users %}
    <tr>
      <td>{{ user.name }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.role.name }}</td>
      <td>
        <button id="editUsers" class="purplebutton">Edit</button>
      </td>
    </tr>
    {% endfor %} 
  </table>
  <div style="margin-top: 20px">
    <button id="addUsers" class="purplebutton">Add User</button>  
  </div>
{% endblock %}