{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}My Cases{% endblock %}</h2>
{% endblock %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/my_cases.css') }}"/>

{% block content %}
    <table>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Action</th>
        </tr>
        {% request_id, form in forms %}
        <tr>
            <td>{{ form.customer_id }}</td>
            <td>{{ form.first_name }}</td>
            <td>{{ form.last_name }}</td>
            <td>
                <a href="#popupForm" class="purplebutton">Edit</a>
            </td>
        </tr>
        <!-- Popup form -->
        <div class="overlay" id="popupForm">
            <div class="wrapper">
                <h2>Edit Case Information</h2>
                <h3>Case Number: {{ request_id }}</h3>
                <!-- Button to close popup -->
                <a class="close" href="#">&times;</a>

                <!-- Actual popup form -->
                <div class="content">
                    <div class="popupContent">
                        <form>
                                <label>Customer ID: </label>
                                <br>
                                <input placeholder="{{ form.customer_id }}" type="text">
                            <br>
                                <label>First Name: </label>
                                <br>
                                <input placeholder="{{ form.first_name() }}" type="text">
                            <br>
                                <label>Last Name: </label>
                                <br>
                                <input placeholder="{{ form.last_name() }}" type="text">
                            <br>
                                <label>Number Of Children: </label>
                                <br>
                                <input placeholder="{{ form.num_of_children() }}" type="text">
                            <br>
                                <label>Number Of Children Enrolled: </label>
                                <br>
                                <input placeholder="{{ form.num_children_enrolled() }}" type="text">
                            <br>
                                <label>Outreach Date: </label>
                                <br>
                                <input type="text" placeholder="{% if form.outreach_date() %}{{ form.outreach_date() }}{% else %}yyyy-mm-dd{% endif %}">
                            <br>
                                <label>Package Return Date: </label>
                                <br>
                                <input type="text" placeholder="{% if form.packet_received_date() %}{{ form.packet_received_date }}{% else %}yyyy-mm-dd{% endif %}">
                            <br>
                                <label>Packet Return Status: </label>
                                <br>
                                <select placeholder="{{ form.packet_return_status() }}">
                                    <option value="Returned">Returned</option>
                                    <option value="Not Returned">Not Returned</option>
                                    <option value="Waiting For Response">Waiting For Respons</option>
                                </select>
                            <br>
                                <label>Decision Date: </label>
                                <br>
                                <input type="text" placeholder="{% if form.packet_decision_date() %}{{ form.decision_date() }}{% else %}yyyy-mm-dd{% endif %}">
                            <br>
                                <label>Not Enrolled Reason: </label>
                                <br>
                                <select placeholder="{{ form.not_enrolled_reason() }}">
                                    <option value="Does not meet employment/activity requirement">Does not meet employment/activity requirement</option>
                                    <option value="Fee too high">Fee too high</option>
                                    <option value="No Child Care Slots">No Child Care Slots</option>
                                    <option value="No longer in Dallas County">No longer in Dallas County</option>
                                    <option value="No Child Care Slots">No Child Care Slots</option>
                                    <option value="Fee too high">Fee too high</option>
                                    <option value="No Child Care Slots">No Child Care Slots</option>
                                    <option value="No Longer Needing Services">No Longer Needing Services</option>
                                    <option value="No Packet Received">No Packet Received</option>
                                    <option value="No Provider Choice">No Provider Choice</option>
                                    <option value="Not a Priority">Not a Priority</option>
                                    <option value="Not working/training">Not working/training</option>
                                    <option value="On leave/STD">On leave/STD</option>
                                    <option value="Over the income guidelines">Over the income guidelines</option>
                                    <option value="Unable to Reach Client">Unable to Reach Client</option>
                                    <option value="Under participation requirement">Under participation requirement</option>
                                    <option value="Verification Docs Needed">Verification Docs Needed</option>
                                    <option value="other">Other</option>
                                </select>
                            <input class="purplebutton" type="submit" value="Save">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %} 
    </table>
{% endblock %}